<section>
    <h1>Bitcoin</h1>
    <p class="att-bitcoin">Última atualização:</p>
    <div class="container-bitcoin">
        <div class="img-bitcoin">
            <img src="/assets/img/bitcoin2.png">
        </div>
        <div class="cotacao">
            <!-- Card de cotação Real -->
            <div class="bitcoin-cotacao real">
                <p>REAL</p>
                <p class="valor">R$ {{ this.bitcoins.bpi.BRL.rate}}</p>
            </div>
            <!-- Card de cotação Dólar -->
            <div class="bitcoin-cotacao dolar">
                <p>DÓLAR</p>
                <p class="valor">$ {{ this.bitcoins.bpi.USD.rate }}</p>
            </div> 
        </div>
    </div>
    <div class="container-bitcoin container-currency">

        <h2>Histórico</h2>

        <div class="currency">
            <div class="dados-currency">
                <p>Valor em real: </p>
                <p>Valor em Dólar: </p>
                <p>Porcentagem: </p>
                <p>Data: </p>
            </div>

            <div class="dados-currency dados">
                <p>aa</p>
                <p>aa</p>
                <p>aa</p>
                <p>aa</p>
            </div>
            
        </div>
    </div>
</section>

